body {
    font-size: 16px;
    font-weight: 400;
    color: #172d5c;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header {
    border-bottom: 2px solid #ddd;
    padding: 10px;
}

.container {
    width: 90%;
    margin: 0px auto;
    /*border: 2px solid blue;*/
    overflow: hidden;
    

}

.Logo {
    width: 10%;
   /* border: 2px solid red;*/
    float: left;
}

.Logo img {
    width: 100%;
}

.menu {
    width: 60%;
    /*border: 2px solid red;*/
    float: right;
}

.menu ul {
    float: right;
}

.menu ul li {
    list-style: none;
    float: left;
}

.menu ul li a {
    text-decoration: none;
    padding: 0px 20px;
}
.menu ul li a:hover{
    color: #172d5c;
}

.menu ul li:last-child a{
    padding-right: 0px;
}